/* adds style the html body and map div objects */
html, body {width:100%; height:100%; padding: 0; margin: 0;}
#WaterMap { width: 600px; height:425px; background: teal;}



/* CSS formatting for the Caminos de Agua logo in the corner */
img.caminos_logo {
	display: inline-block;
	z-index: 3;
	position: absolute;
	left: 15px;
	bottom: 15px;
	width: 120px;
	height: 120px;
	opacity: 1;
}
